/JAVA/JavaApplication1/nbproject/private/
/JAVA/JavaApplication1/dist/
/JAVA/JavaApplication1/build/
/JAVA/nbproject/private/
/JAVA/build/
/JAVA/funciones/Funciones/nbproject/private/
/JAVA/Primalidad/nbproject/private/
/JAVA/Palidromas/nbproject/private/
/JAVA/Contraseñas/nbproject/private/
/JAVA/Contrasenas/build/
/JAVA/Contrasenas/dist/
/JAVA/Conversor/nbproject/private/
/JAVA/Juego/nbproject/private/
/JAVA/Javadoc/nbproject/private/
/JAVA/Juego/build/
/JAVA/Javadoc/build/
/JAVA/Javadoc/dist/
/JAVA/Juego/dist/
/JAVA/Conversor/build/
/JAVA/Primalidad/build/
