<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>

    <h1>Usuarios</h1>
    <!-- Operadores lógicos
    not !
    and &&
    or ||
-->

    {{ if  .Activo }}
    <p>El usuario está activo en la plataforma</p>
    {{ else }}
    <p>El usuario se encuentra inactivo</p>
    {{ end }}

    {{ if and .Activo .Admin }}
    <p>El usuario está activo y también es administrador</p>
    {{ else }}
    <p>El usuario NO está activo o NO es administrador</p>
    {{ end }}

    {{ if or .Activo .Admin }}
    <p>El usuario está activo y también es administrador</p>
    {{ else }}
    <p>El usuario NO está activo o NO es administrador</p>
    {{ end }}

    <!--
    Operadores condicionales
    eq ==
    ne !=
    lt < le <=gt>
    ge >= -->
    {{ if gt .Edad 22 }}
    <p>El Usuario tiene más de 22 años</p>
    {{ else }}
    <p>El Usuario es menor de 22 años</p>
    {{end }}

    <h2>Bucles</h2>
    <ul>
        {{ range .Curso }}
        <li>{{ .Nombre }}</li>
        {{ end }}
    </ul>

    <!-- Ejecutar la función -->

    <p>
        {{ saludar }}
    </p>

</body>

</html>
